$backgroundFound: #272643;
$backgroundSections: #f7eb00;
$backgroundSecondary: #2c698d;
$backgroundSecondaryTransparent: #2c698d90;
$letterLigth: #fff;
$letterDark: #000;
$button: #00cbff;
$buttonTransparent: #00cbff40