$backgroundFound: #272643;
$backgroundImage: '/images/abstract.jpg';
$backgroundSections: #f7eb00;
$backgroundSecondary: #2c698d;
$backgroundSecondaryTransparent: #2c698d90;
$letterLigth: #fff;
$letterDark: #000;
$button: #00cbff;
$buttonTransparent: #00cbff40;
$media-tablet: "only screen and (min-width : 640px)";
$media-desktop: "only screen and (min-width : 1000px)";