@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
  background-color: $backgroundFound;
  font-family: 'Roboto', sans-serif;
  color: $letterLigth;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  *{
    box-sizing:border-box;
  }
  background: url('/images/forest-vertical.jpg') center/cover no-repeat;
}

h1, h2, h3, h4, a {
  font-family: 'Oswald', sans-serif;
  color: $letterDark;
  font-weight: bold;
  text-decoration: none;
}
h1{
  font-size: 1.8rem;
}
h2{
  font-size: 1.25rem;
}