@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');
html{
  scroll-behavior: smooth;
}
body{
  background-color: $backgroundFound;
  font-family: 'Roboto', sans-serif;
  color: $letterLigth;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  position: relative;
  &::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  *{
    box-sizing:border-box;
  }
  background-color: $backgroundFound;
  background: url($backgroundImage) center/cover no-repeat;
}
a{
  text-decoration: none;
  color: $button;
  &:hover{
    color: $backgroundSections;
  }
}

h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
  color: $letterDark;
  font-weight: bold;
  text-decoration: none;
}
h1{
  font-size: 1.8rem;
}
h2{
  font-size: 1.25rem;
}