.information{
  padding: 1rem;
  border-bottom: solid 2px $backgroundSections;
  max-width: 44rem;
  max-height: calc(100vh - 110px);
  overflow-y: scroll;
  @media #{$media-tablet} {
    margin: 1.5rem auto;
  }
}