.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 12.5rem;
  margin-bottom: 1rem;
  position: relative;
  background: url('/images/forest.jpg') center/cover no-repeat;
  .header{
    width: 90%;
    padding: 1rem 1.5rem;
    align-self: flex-end;
    background-color: $backgroundSections;
    box-sizing: border-box;
    *{
      margin: 0;
    }
  .image{
    position: absolute;
    bottom: -45px;
  }
  }
}