.list{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 1.5rem 0;
  max-width: 44rem;
  margin: auto;
  .imageLink img{
    transition: all 0.3s;
    &:hover{
      transform: scale(1.06);
    }
  }
  .card{
    padding-bottom: 5px;
    border-bottom: solid 2px $backgroundSections;
    width: fit-content;
    a{
      color: $letterLigth;
    }
  }
  .containerRepo{
    display: flex;
    gap: 1rem;
    span{
      font-family: 'Oswald', sans-serif;
      cursor: pointer;
    }
  }
  .tooltip{
    display: none;
    max-height: 400px;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 50px;
    left: 15px;
    justify-content: center;
    color: $letterLigth;
    background-color: transparent;
    animation: fadeIn 0.3s;
  	opacity: 1;
    &::before{
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $backgroundSecondaryTransparent;
      backdrop-filter: blur(5px);
    }
    .content{
      z-index: 1;
      .close{
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background: url('/icons/close.png') center/cover no-repeat;
        border: none;
      }
    }
  }
  .show{
    display: flex;
  }
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

