.item{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    .triangle{
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top:25px $letterLigth solid;
    }
}