.list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 1.5rem;
  justify-items: center;
  max-width: 53rem;
  margin: auto;
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    color: $letterLigth;
    background-color: transparent;
    transition: 0.2s all;
    max-width: 15rem;
    width: 60%;
    min-width: fit-content;
      &:hover{
        transform: scale(1.1);
      }
      &::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffff50;
        backdrop-filter: blur(5px);
        border-radius: 10px;
      }
      .name{
        margin: 0;
        text-align: center;
        z-index: 1;
      }
  }
}